eiaziic/OllamaSetup.exe
eiaziic/lab1/.venv/
eiaziic/lab1/.idea/
eiaziic/lab5_6/analyzer/__pycache__/
eiaziic/lab5_6/rag/__pycache__/
eiaziic/lab5_6/llm/__pycache__/
eiaziic/lab5_6/rag/music_db.json
eiaziic/lab5_6/.idea/
eiaziic/lab2/lab2/scrapper/pages/